// Colors
$lightGrey: #E5ECF4;
$dimGrey: #939CAA;
$darkNavy: #495567;
$darkYellow: #FCB72B;

// Fonts
$lexendDecaFF: 'Lexend Deca', sans-serif;
$spaceMonoFF: 'Space Mono', monospace;

// BreakPoints

$xxs: 370px;
$xs: 470px;
$sm: 680px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
